.container{
    margin-top: 1em;
    border: 3px solid rgb(73,88,231);
}

body{
    margin:0;
    padding:0;
    overflow-y: scroll;
}

.button{
    height:55px;
    width:55px;
    color: black;
}

#map{
    height:75vh;
}